.A1{
    font-family: AKbalthom Superhero;
}
.A2{
    font-size: 38px;
    color:#1C2833;
    font-family: AKbalthom Superhero;
}
.A3{
    font-size: 38px;
    font-family: AKbalthom Superhero;
    color:#1C2833;
}
.A4{
    font-size: 38px;
    font-family: AKbalthom Superhero;
    color:#1C2833;
}
.A5{
    width: 500px;
    position: fixed;
    left: 290px;
    down:500px
}